<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: myHead">
</head>
<body>
	<nav th:replace="index :: myNav"></nav>
	<div class="container">
	<h1 class="text-center">Categories</h1>
		<div class="row mb-2 justify-content-between text-center">
			<div class="col-12">
				<a  th:each="category : ${categories}" th:href="@{/articles/{categoryName}/0(categoryName = ${category.name})}" class="btn btn-info" title="See associated articles">
				<span th:text="${category.name}" th:remove="tag"></span>
				</a>
			</div>
		</div>
	</div>
</body>
</html>