<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: myHead">
</head>
<body>
	<nav th:replace="index :: myNav"></nav>
	<div class="container">
	<h1 class="text-center" th:text="(@{__${#httpServletRequest.requestURI}__} == @{/categories})?'All categories' : 'Sorted categories'"></h1>
		<div class="row mb-2" th:each="category : ${categories}">
			<a th:href="@{/categories/{categorieId}(categorieId = ${category.id})}" class="col-auto" title="See associated articles">
			<span th:text="${category.name}" th:remove="tag"></span>
			 </a>
		</div>
	</div>
</body>
</html>