<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="myHead">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css}" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"></link>
<link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}"
      rel="stylesheet"></link>
<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js}" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js}" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<title>Welcome</title>
</head>
<body>


<nav th:fragment="myNav" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" th:href="@{/articles}"><i class="material-icons">home</i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav col-11">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/articles/new}" title="Publish">
         	Publish
        </a>
      </li>
      <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_SUPERADMIN')">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
          <a class="dropdown-item" th:href="@{/categories}">List</a>
          <a class="dropdown-item" th:href="@{/categories/new}">Create</a>
        </div>
      </li>
      <li class="nav-item" sec:authorize="hasRole('ROLE_SUPERADMIN')">
        <a class="nav-link" th:href="@{/users}">
          Users
        </a>
      </li>       
    </ul>

	<ul th:if="${currentUser.userName}" class="navbar-nav col-auto">
		<li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${currentUser.userName}">
		  </a>
			  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
			  	<a class="dropdown-item" th:href="@{/profile/{userId}(userId = ${currentUser.id})}">My profile</a>
			    <a class="dropdown-item" th:href="@{/logout}">Logout</a>
			  </div>
		</li>
	</ul>
	<div th:if="${currentUser.userName} == null">
		<a th:href="@{/login}">Login</a>
	</div>
  </div>
</nav>


	

</body>
</html>