<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: myHead">
</head>
<body>
	<nav th:replace="index :: myNav"></nav>
	<div class="container">
	<h1 class="text-center" th:text="(@{__${#httpServletRequest.requestURI}__} == @{/articles})?'All articles' : 'Sorted articles'"></h1>
		<div class="row mb-2 justify-content-between" th:each="article : ${articles}">
			<a th:href="@{/articles/{articleId}(articleId = ${article.id})}" class="col-8">
			<span th:text="${article.title} + ' published on ' + ${#dates.format(article.createdOn, 'dd-MM-yyyy')} + ' by '" th:remove="tag"></span>
			<em th:text="${article.user.userName}"></em>
			 </a>
			 <a type="button" class="col-2 ml-auto btn btn-info inactive" th:href="@{/articles/categories/{categoryId}(categoryId=${article.category.id})}">
			 	<span th:text="${article.category.name}" th:remove="tag"></span>
			 </a>
			<button type="button" class="col-1 ml-auto btn btn-warning inactive" th:text="'+' + ${article.rating.value}" disabled></button>
		</div>
	</div>
</body>
</html>